{% extends 'main/layout.html' %}

{% block title %}
Про нас
{% endblock %}

{% block content %}
    <div class="features">
        <h1 class="header-text">About program</h1>
        <br><br>
        <h2 class="info-text">We are the best company for the storage and provision of sick leave. Our website contains a database of all employees of our company "Cleunt".  By going to the "Sick leaves" item, you can see who the sick lists were drawn up for, and if necessary, make some changes or delete them altogether. The service will improve, we are making a good product</h2>
    </div>
{% endblock %}